.venv
*.tmp
**/__pycache__/
__pycache__
.pytest
.coverage
.coverage.*
htmlcov/
*.png
.vscode
*.log
coverage.xml
__pycache__/
*.py[cod]
*$py.class
report.html
output.xml
log.html
*.code-workspace
.DS_Store
.pytest_cache
